<section class="register">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Register</h5>
      <form [formGroup]="registrationForm">
        <div class="form-group"
          [ngClass]="{'error-block':form().fullName.errors && (form().fullName.dirty || form().fullName.touched)}">
          <label for="fullName">Full Name</label>
          <input type="text" class="form-control" id="fullName" formControlName="fullName">
          <div *ngIf="form().fullName.errors && (form().fullName.dirty || form().fullName.touched)">
            <p *ngIf="form().fullName.errors.required">Full name is required.</p>
          </div>
        </div>
        <div class="form-group"
          [ngClass]="{'error-block':form().contact.errors && (form().contact.dirty || form().contact.touched)}">
          <label for="contact">Phone Number</label>
          <input type="text" class="form-control" id="contact" formControlName="contact">
          <div *ngIf="form().contact.errors && (form().contact.dirty || form().contact.touched)">
            <p *ngIf="form().contact.errors.required">Phone Number is required.</p>
            <p *ngIf="form().contact.errors.pattern">Only numbers are allowed.</p>
            <p *ngIf="form().contact.errors.minlength">Phone Number must be of 10 digit.</p>
            <p *ngIf="form().contact.errors.maxlength">Phone Number must be of 10 digit.</p>
          </div>
        </div>
        <div class="form-group"
          [ngClass]="{'error-block':form().email.errors && (form().email.dirty || form().email.touched)}">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp" formControlName="email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          <div *ngIf="form().email.errors && (form().email.dirty || form().email.touched)">
            <p *ngIf="form().email.errors.required">Email is required.</p>
            <p *ngIf="form().email.errors.pattern">Enter valid email ID.</p>
          </div>
        </div>

        <div class="form-group"
          [ngClass]="{'error-block':form().place.errors && (form().place.dirty || form().place.touched)}">
          <label for="place">Place</label>
          <select class="form-control" id="place" formControlName="place">
            <option selected>select Place</option>
            <option value="1">Hyderabad</option>
            <option value="2">Delhi</option>
            <option value="3">Varanasi</option>
          </select>
          <div *ngIf="form().place.errors && (form().place.dirty || form().place.touched)">
            <p *ngIf="form().place.errors.required">Place is required.</p>
          </div>
        </div>

        <div class="form-group"
          [ngClass]="{'error-block':form().password.errors && (form().password.dirty || form().password.touched)}">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" formControlName="password">
          <div *ngIf="form().password.errors && (form().password.dirty || form().password.touched)">
            <p *ngIf="form().password.errors.required">Password is required.</p>
            <p *ngIf="form().password.errors.minlength">Password must be atlest 5 characters.</p>
          </div>
        </div>
        <div class="btnContainer">
          <button type="button" (click)="submitRegistration()" class="btn btn-primary">Register</button>
        </div>
      </form>

    </div>
  </div>
</section>
